<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <img src={{this.imageUrl}}>
        </div>
        <div class="col"></div>
    </div>
    <div class="row mt-3">
        <div class="col"></div>
        <div class="col">
            <h1 class="title text-center">{{currentClassDetails?.name}}</h1>
            <h4 class="text-center">Hit Die: {{currentClassDetails?.hit_die}}</h4>
            <h4 class="text-center">Saving Throws: <span
                    *ngFor="let item of currentClassDetails?.saving_throws">{{item?.name}} </span></h4>
        </div>
        <div class="col"></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <p>{{backstory}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-accordion class="mx-auto" style="width: 80%">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Proficiencies
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <h3><strong>Class Proficiencies</strong></h3>
                        <ul>
                            <li *ngFor="let item of currentClassDetails?.proficiencies">{{item?.name}}</li>
                        </ul>

                    </div>

                    <br>
                    <div *ngFor="let item of currentClassDetails?.proficiency_choices">
                        <h3><strong>{{item?.desc}}</strong></h3>
                        <ul>
                            <li *ngFor="let choice of item?.from?.options">{{choice?.item?.name}}</li>
                        </ul>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Starting Equipment
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="row">
                        <div class="col">
                            <h4><strong>Provided Equipment</strong></h4>
                            <ul class="list-group list-group-flush">
                                    <li class="list-group-item" *ngFor="let item of currentClassDetails?.starting_equipment">{{item?.equipment?.name}} x {{item?.quantity}}</li>
                            </ul>
                        </div>
                        <div class="col">
                            <h4><strong>Choose 1 From Each Category</strong></h4>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" *ngFor="let item of currentClassDetails?.starting_equipment_options">{{item?.desc}}</li>
                            </ul>
                        </div>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel *ngIf="currentClassDetails?.spellcasting != null">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Spellcasting
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="row">
                        <div class="col ">
                            <h4 class="text-center">Spellcasting Ability -
                                {{currentClassDetails?.spellcasting?.spellcasting_ability.name}}</h4>
                            <ul>
                                <div *ngFor="let item of currentClassDetails?.spellcasting?.info">
                                    <li>
                                        {{item?.name}}
                                        <ul>
                                            <div *ngFor="let x of item?.desc">
                                                <li>{{x}}</li>
                                            </div>
                                        </ul>
                                    </li>
                                </div>
                            </ul>
                        </div>>
                    </div>

                </mat-expansion-panel>
                <mat-expansion-panel *ngIf="currentClassDetails?.spellcasting != null">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Spell List
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item list-group-item-active" *ngFor="let spell of spellList?.results"><a
                                [routerLink]="['/spellList', spell?.index]">{{spell?.name}}</a></li>
                    </ul>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Level Info
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <table class="table table-striped text-center">
                        <thead class="thead-light">
                            <tr>
                                <th>Level</th>
                                <th>Ability Score Bonus</th>
                                <th>Proficiency Bonus</th>
                                <th>Features</th>
                                <th *ngIf="currentClassDetails?.spellcasting != null">Cantrips Known</th>
                                <th *ngIf="currentClassDetails?.spellcasting != null">Spells Known</th>
                                <th *ngIf="currentClassDetails?.spellcasting != null">Level 1 Spell Slots</th>
                                <th *ngIf="currentClassDetails?.spellcasting != null">Level 2 Spell Slots</th>
                                <th *ngIf="currentClassDetails?.spellcasting != null">Level 3 Spell Slots</th>
                                <th *ngIf="currentClassDetails?.spellcasting != null">Level 4 Spell Slots</th>
                                <th *ngIf="currentClassDetails?.spellcasting != null">Level 5 Spell Slots</th>
                                <th *ngIf="currentClassDetails?.spellcasting != null">Level 6 Spell Slots</th>
                                <th *ngIf="currentClassDetails?.spellcasting != null">Level 7 Spell Slots</th>
                                <th *ngIf="currentClassDetails?.spellcasting != null">Level 8 Spell Slots</th>
                                <th *ngIf="currentClassDetails?.spellcasting != null">Level 9 Spell Slots</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of classLevelInfo">
                                <td>{{item.level}}</td>
                                <td>{{item.ability_score_bonuses}}</td>
                                <td>{{item.prof_bonus}}</td>
                                <td>
                                    <ul>
                                        <div *ngFor="let x of item.features">
                                            <li>
                                                {{x.name}}
                                            </li>
                                        </div>
                                    </ul>
                                </td>
                                <td *ngIf="currentClassDetails?.spellcasting != null">
                                    {{item?.spellcasting?.cantrips_known}}</td>
                                <td *ngIf="currentClassDetails?.spellcasting != null">{{item.spellcasting.spells_known}}
                                </td>
                                <td *ngIf="currentClassDetails?.spellcasting != null">
                                    {{item?.spellcasting?.spell_slots_level_1}}
                                </td>
                                <td *ngIf="currentClassDetails?.spellcasting != null">
                                    {{item?.spellcasting?.spell_slots_level_2}}
                                </td>
                                <td *ngIf="currentClassDetails?.spellcasting != null">
                                    {{item?.spellcasting?.spell_slots_level_3}}
                                </td>
                                <td *ngIf="currentClassDetails?.spellcasting != null">
                                    {{item?.spellcasting?.spell_slots_level_4}}
                                </td>
                                <td *ngIf="currentClassDetails?.spellcasting != null">
                                    {{item?.spellcasting?.spell_slots_level_5}}
                                </td>
                                <td *ngIf="currentClassDetails?.spellcasting != null">
                                    {{item?.spellcasting?.spell_slots_level_6}}
                                </td>
                                <td *ngIf="currentClassDetails?.spellcasting != null">
                                    {{item?.spellcasting?.spell_slots_level_7}}
                                </td>
                                <td *ngIf="currentClassDetails?.spellcasting != null">
                                    {{item?.spellcasting?.spell_slots_level_8}}
                                </td>
                                <td *ngIf="currentClassDetails?.spellcasting != null">
                                    {{item?.spellcasting?.spell_slots_level_9}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="d-flex">
                <button class="btn btn-primary mx-auto" [routerLink]="['/classList']">Back to List</button>
            </div>
        </div>
    </div>
</div>