/* You can add global styles to this file, and also import other style files */

html, body { 
   height: 100%;
   /* background-image: url("https://wallpaperaccess.com/full/2796640.jpg"); */
 }
body { 
    /* margin: 0;  */
    font-family: Roboto, "Helvetica Neue", sans-serif;
    /* margin-bottom: 5%; */
 }

/*  footer{
    height: 75px;
 } */