<!-- <nav class="navbar navbar-light bg-dark">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active"><a class="nav-link" routerLink="/classList" routerLinkActive="active">Class List</a></li>
    <li><a routerLink="/home" routerLinkActive="active"> home</a></li>
    </ul>
</nav>
 -->


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">INSERT LOGO HERE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/classList" routerLinkActive="active">Classes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/raceList" routerLinkActive="active">Races</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">NO LINK HERE YET</a>
        </li>
      </ul>
      <span class="navbar-text">
        Your completely definitve and totally unoffical guide to all things DND
      </span>
    </div>
  </nav>


<router-outlet></router-outlet>
<!-- 
<footer class="bg-dark text-center text-white fixed-bottom">
    <br>
    <br>
<h1 class="text-center">PUT SOME STUFF IN THE FOOTER</h1>
</footer> -->