img {
    display: inline-block;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 3%;
    opacity: 90%;
    /* border: red 5px solid; */
 }

 .title{
    font-family: 'Eagle Lake', cursive;
}