<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <img src={{this.imageUrl}}>
        </div>
        <div class="col"></div>
    </div>
    <div class="row mt-3">
        <div class="col"></div>
        <div class="col">
            <h1 class="title text-center title">{{raceDetails.name}}</h1>
        </div>
        <div class="col"></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col text-center">
            {{introduction}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-accordion class="mx-auto" style="width: 80%">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Description</mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul>
                        <li>Speed: {{raceDetails.speed}}</li>
                        <li>Age: {{raceDetails.age}}</li>
                        <li>Size: {{raceDetails.size}} - {{raceDetails.size_description}}</li>
                        <li>Alignment: {{raceDetails.alignment}}</li>
                    </ul>
                    {{physicalDescription}}
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Languages</mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul>
                        <div *ngFor="let language of raceDetails.languages">
                            <li><a [routerLink]="['/languages']">{{language.name}}</a></li>
                        </div>
                    </ul>
                    <p>{{raceDetails.language_desc}}</p>
                    <div *ngIf="raceDetails.language_options != undefined">
                        <h4>Additional Languages - Choose {{raceDetails.language_options.choose}}</h4>
                        <ul>
                            <div *ngFor="let language of raceDetails.language_options.from.options">
                                <li><a routerLink="/languages">{{language.item.name}}</a></li>
                            </div>
                        </ul>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel *ngIf="raceDetails.traits[0] != undefined">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Traits</mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul>
                        <div *ngFor="let trait of raceDetails.traits">
                            <li><a [routerLink]="['/traits', trait.index]">{{trait.name}}</a></li>
                        </div>
                    </ul>
                </mat-expansion-panel>

                <mat-expansion-panel *ngIf="raceDetails.starting_proficiencies[0] != undefined">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Starting Proficiencies</mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul>
                        <div *ngFor="let item of raceDetails.starting_proficiencies">
                            <li> {{item.name}}</li>
                        </div>
                    </ul>
                    <div *ngIf="raceDetails.starting_proficiency_options != undefined">
                        <h4>Additional Proficiencies - Choose {{raceDetails.starting_proficiency_options.choose}}</h4>
                    <p>{{raceDetails.starting_proficiency_options.desc}}</p>
                    </div>


                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Ability Bonus</mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul>
                        <div *ngFor="let bonus of raceDetails.ability_bonuses">
                            <li>{{bonus.ability_score.name}}</li>
                            <ul>
                                <li>Bonus: +{{bonus.bonus}}</li>
                            </ul>
                        </div>
                    </ul>
                </mat-expansion-panel>

                <!--FILL IN THE SUBRACE INFORMATION HERE -->
                <mat-expansion-panel *ngIf="raceDetails.subraces[0] != undefined">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Subraces</mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul>
                        <div *ngFor="let race of raceDetails.subraces">
                            <li>{{race.name}}</li>
                        </div>
                    </ul>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>

