<div class="container">
    <div class="row mt-3 mb-3">
        <div class="col text-center">
            <h1 class="title"><strong>Character Classes</strong></h1>
        </div>
    </div>
    <div class="row mb-3 mt-3">
        <div class="col text-center">
            <div class="card" style="width: 200px;">
                <a [routerLink]="['/classDetails', 'barbarian']"><img class="card-img top"
                        src="https://www.dndbeyond.com/avatars/thumbnails/6/342/420/618/636272680339895080.png"></a>
                <div class="card=body">
                    <h4 clas="card-title"><strong>Barbarian</strong></h4>
                    <a class="btn btn-primary mb-1" [routerLink]="['/classDetails', 'barbarian']">View Details</a>
                </div>
            </div>
        </div>
        <div class="col text-center">
            <div class="card" style="width: 200px">
                <a [routerLink]="['/classDetails', 'bard']"> <img class="card-img top"
                        src="https://www.dndbeyond.com/avatars/thumbnails/6/369/420/618/636272705936709430.png"> </a>
                <div class="card=body">
                    <h4 clas="card-title"><strong>Bard</strong></h4>
                    <a class="btn btn-primary mb-1" [routerLink]="['/classDetails', 'bard']">View Details</a>
                </div>
            </div>
        </div>
        <div class="col text-center">
            <div class="card" style="width: 200px; height: 375px;">
                <a [routerLink]="['/classDetails', 'cleric']"><img class="card-img top"
                        src="/assets/classPictures/cleric.png"></a>
                <div class="card=body">
                    <h4 clas="card-title"><strong>Cleric</strong></h4>
                    <a class="btn btn-primary mb-1" [routerLink]="['/classDetails', 'cleric']">View Details</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col text-center">
            <div class="card" style="width: 200px">
                <a [routerLink]="['/classDetails', 'druid']"><img class="card-img top"
                        src="https://www.dndbeyond.com/avatars/thumbnails/6/346/420/618/636272691461725405.png"></a>

                <div class="card=body">
                    <h4 clas="card-title"><strong>Druid</strong></h4>
                    <a class="btn btn-primary mb-1" [routerLink]="['/classDetails', 'druid']">View Details</a>
                </div>
            </div>
        </div>
        <div class="col text-center">
            <div class="card" style="width: 200px">
                <a [routerLink]="['/classDetails', 'fighter']"> <img class="card-img top"
                        src="https://www.dndbeyond.com/avatars/thumbnails/6/359/420/618/636272697874197438.png"></a>

                <div class="card=body">
                    <h4 clas="card-title"><strong>Fighter</strong></h4>
                    <a class="btn btn-primary mb-1" [routerLink]="['/classDetails', 'fighter']">View Details</a>
                </div>
            </div>
        </div>
        <div class="col text-center">
            <div class="card" style="width: 200px">
                <a [routerLink]="['/classDetails', 'monk']"><img class="card-img top"
                        src="https://www.dndbeyond.com/avatars/thumbnails/6/489/420/618/636274646181411106.png"></a>

                <div class="card=body">
                    <h4 clas="card-title"><strong>Monk</strong></h4>
                    <a class="btn btn-primary mb-1" [routerLink]="['/classDetails', 'monk']">View Details</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col text-center">
            <div class="card" style="width: 200px">
                <a [routerLink]="['/classDetails', 'paladin']"><img class="card-img top"
                        src="https://www.dndbeyond.com/avatars/thumbnails/6/365/420/618/636272701937419552.png"></a>

                <div class="card=body">
                    <h4 clas="card-title"><strong>Paladin</strong></h4>
                    <a class="btn btn-primary mb-1" [routerLink]="['/classDetails', 'paladin']">View Details</a>
                </div>
            </div>
        </div>
        <div class="col text-center">
            <div class="card" style="width: 200px">
                <a [routerLink]="['/classDetails', 'ranger']"><img class="card-img top"
                        src="https://www.dndbeyond.com/avatars/thumbnails/6/367/420/618/636272702826438096.png"></a>

                <div class="card=body">
                    <h4 clas="card-title"><strong>Ranger</strong></h4>
                    <a class="btn btn-primary mb-1" [routerLink]="['/classDetails', 'ranger']">View Details</a>
                </div>
            </div>
        </div>
        <div class="col text-center">
            <div class="card" style="width: 200px">
                <a [routerLink]="['/classDetails', 'rogue']"><img class="card-img top"
                        src="https://www.dndbeyond.com/avatars/thumbnails/6/384/420/618/636272820319276620.png"></a>

                <div class="card=body">
                    <h4 clas="card-title"><strong>Rogue</strong></h4>
                    <a class="btn btn-primary mb-1" [routerLink]="['/classDetails', 'rogue']">View Details</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col text-center">
            <div class="card" style="width: 200px">
                <a [routerLink]="['/classDetails', 'sorcerer']"><img class="card-img top"
                        src="https://www.dndbeyond.com/avatars/thumbnails/6/485/420/618/636274643818663058.png"></a>

                <div class="card=body">
                    <h4 clas="card-title"><strong>Sorcerer</strong></h4>
                    <a class="btn btn-primary mb-1" [routerLink]="['/classDetails', 'sorcerer']">View Details</a>
                </div>
            </div>
        </div>
        <div class="col text-center">
            <div class="card" style="width: 200px">
                <a [routerLink]="['/classDetails', 'warlock']"><img class="card-img top"
                        src="https://www.dndbeyond.com/avatars/thumbnails/6/375/420/618/636272708661726603.png"></a>

                <div class="card=body">
                    <h4 clas="card-title"><strong>Warlock</strong></h4>
                    <a class="btn btn-primary mb-1" [routerLink]="['/classDetails', 'warlock']">View Details</a>
                </div>
            </div>
        </div>
        <div class="col text-center">
            <div class="card" style="width: 200px">
                <a [routerLink]="['/classDetails', 'wizard']"><img class="card-img top"
                        src="/assets/classPictures/wizard.png"></a>
                <div class="card=body">
                    <h4 clas="card-title"><strong>Wizard</strong></h4>
                    <a class="btn btn-primary mb-1" [routerLink]="['/classDetails', 'wizard']">View Details</a>
                </div>
            </div>
        </div>
    </div>

</div>