<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <img class="mt-3" width="900px"
                src="https://media.dnd.wizards.com/styles/second_hubpage_banner/public/images/head-banner/04-PRODUCT-INFO_Tabletop_Hero_MM_1.jpg">
        </div>
        <div class="col"></div>
    </div>

    <div class="row">
        <div class="col text-center">
            <h1 class="title">Monsters</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-accordion>
                <div *ngFor="let item of sortedList">
                    <mat-expansion-panel class="mb-1">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="title">{{item?.id}}</mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="list-group">
                            <div *ngFor="let monster of item.features">
                                <a [routerLink]="['/monsterDetails', monster.index]"
                                    class="list-group-item list-group-item-action">{{monster.name}}</a>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </div>
            </mat-accordion>
        </div>
    </div>
</div>